@import "../assets/scss/styles.scss";

.root {
  &--light {
    background-color: $white;
    color: $black;
  }

  &--dark {
    background-color: $black;
    color: $white;
  }
}

.container {
  @include flex-wrap();
  margin: 0 auto;
  width: 80em;
}

.main {
  width: 100%;
}
